/* container */
:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #819b57;
}

/* Bace */
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
address {
  font-style: normal;
}
ul {
  list-style-type: none;
}
/* button */
.button {
  color: var(--color-primary-light);
  background: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}
/* link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title .accent {
  color: var(--color-brand-light);
}
.sectoin-title .accent {
  color: var(--color-brand-dark);
}
/* Advantages section */
.advantagest-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
.advantagest-item {
  font-size: 20px;
  font-weight: 300;
}
.sectoin-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
/* traditions-section */
.traditions-text .brand {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-text .uppercase {
  color: var(--color-brand-light);
  text-transform: uppercase;
  font-weight: 600;
}
/* cookers-section */
.cookers-title {
  font-weight: 600;
  font-size: 40px;
}
/* format */
.format-title {
  color: var(--color-primary-light);
  font-weight: 600;
  font-size: 24px;
}
.format-text {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 14px;
}
.section-listed {
  color: var(--color-brand-dark);
}
footer {
  color: var(--color-primary-light);
}
.adres-link {
  color: var(--color-primary-light);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
}
.adres-link:hover {
  color: var(--color-brand-light);
}
.adres-copyright{
  color: #A18268;
  font-size: 14px;
  font-weight: 400;
}
